@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/Roboto-Black.ttf')
}

.email-main-container {
    max-height: 80vh;
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    border: 0.5px solid rgb(190, 190, 190);
    border-top: none;
    cursor: pointer;
    padding: 10px;
}

.email:first-child {
    border-top: 0.5px solid rgb(190, 190, 190);
}

.email:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.email-body {
    border: 0.5px solid rgb(161, 159, 159);
    border-top: none;
    padding: 10px;
    padding-top: 10px;
}

.email-Fullbody {
    padding: 10px;
}

.unreadStyle {
    font-weight: bold;
    background-color: rgba(229, 238, 238, 0.8);
}

.screen {
    display: none;
}

.email-main-container {
    display: flex;
    flex-direction: row;
}

.email-nav {
    display: flex;
    width: 40%;
    max-height: 100vh;
}

.addNewEmail {
    width: 100% !important;
    height: 100% !important;
    border: 0.5px solid black;
}

.email-list {
    width: 80vw;
    margin: 0;
    padding: 0;
}

.compose {
    border-radius: 20px;
    font-size: 22px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(216, 215, 215);
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    outline: none;
    margin-left: 28px;
}

.compose:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.plus {
    color: rgb(216, 195, 8);
}

.addNewEmail {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.iconLinks {
    color: #5f6368;
    padding-left: 10px;
    margin-top: 12px;
}

.iconLinks:focus {
    color: brown !important;
}

.sendEmailBtn {
    z-index: 100;
}

.starfill {
    color: rgb(158, 158, 17);
}

.newMessage {
    background-color: #202124;
    color: white;
    height: 20px;
    padding: 5px;
    margin-bottom: 0;
}

.email-body {
    display: flex;
    flex-direction: column;
}

.email-details {
    display: flex;
    flex-direction: column;
}

.deleteCompose {
    position: relative;
    left: 60px;
    bottom: 40px;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
}

.emailBody {
    width: 99.7%;
    margin: 0;
    padding: 0;
    position: relative;
}

.sendEmailBtn {
    position: relative;
    height: 30px;
    width: 70px;
    left: 18px;
    bottom: 46px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: #1a73e8;
    border: none;
    font-weight: bold;
    outline: none;
}

.draftIcon {
    position: relative;
    bottom: 40px;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    left: 55px;
}

.email-title {
    font-size: 18px;
    text-align: center;
}

.subjectsIcons {
    display: flex;
    flex-direction: row;
}

.subjectsIcons {
    margin-right: 5px;
}

.nextPrev {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.trash {
    font-size: 30px;
}

.listFilter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: rgba(242, 245, 245, 0.8);
    height: 50px;
    padding: 0 40px;
}

.search {
    height: 20px;
    border-radius: 8px;
    outline: none;
    background-color: rgb(224, 224, 224);
    border: 1px solid transparent;
    max-width: 200px;
    position: relative;
    margin-right: 5px;
}

.emailSubject {
    display: flex;
    justify-content: space-between;
}

.emailtxtBody {
    margin-top: 15px;
}

.misterEmail {
    margin-top: 20px;
    padding-left: 20px;
    color: rgb(216, 195, 8);
    font-size: 23px !important;
}


/* nav {
    height: 100%;
} */

.asaid-nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    height: 75vh;
    padding: 0;
    padding-bottom: 50px;
    margin-right: 0;
    font-size: 20px;
    background-color: rgba(242, 245, 245, 0.8);
    width: 100%;
    /* margin-top: 35px; */
}

.saidLinks {
    width: 92%;
    /* background-color: green; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 45px;
    color: #5f6368;
    padding-left: 20px;
}

.saidLinks:hover {
    color: gray;
}

.emailFull {
    display: flex;
    /* height: ; */
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 20px;
    /* border: 1px black solid; */
    padding-bottom: 20px;
    /* border: none; */
}

.emailFullSubject {
    padding-top: 20px;
    font-size: 20px;
    border-bottom: 0.5px #5f6368 solid;
}

.emailFull-Name pre {
    padding-top: 20px;
    font-size: 20px;
    margin-bottom: 0;
    border-bottom: 0.5px #5f6368 solid;
}

.emailFullText {
    padding-top: 20px;
    font-size: 20px;
}

.emailFull-subjectLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fa-trash-alt {
    margin: 0 auto;
}

.fa-envelope-open-text {
    font-size: 20px;
    margin-right: 5px;
}

.saidLinks:hover {
    background-color: #d5d6d6;
}

.saidLinks:focus {
    background-color: rgba(226, 126, 126, 0.3);
    color: #d93025;
}

i.fas:focus {
    background-color: rgba(226, 126, 126, 0.3);
    color: #d93025;
}

.router-email {
    width: 100%;
    padding: 100px auto;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    /* padding: 100px; */
}

.statusRead {
    width: 130px;
    border: 2px black solid;
    margin: 0 20px auto;
    margin-top: 20px;
    background-color: rgb(199, 195, 195);
    /* margin-bottom: 100px; */
}

.statusRead div {
    height: 20px;
    padding: 2px;
    font-size: 15px;
    border-right: none;
    background-color: rgb(216, 195, 8);
}

.bcgColorIcon {
    background-color: rgb(199, 195, 195);
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
    margin-right: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.nextPrevIcon {
    font-size: 30px;
}

.success {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(108, 216, 108);
    border-radius: 10px;
    height: 25px;
    text-align: center;
    font-size: 15px;
}

.error {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(223, 113, 113);
    border-radius: 10px;
    height: 25px;
    text-align: center;
    font-size: 15px;
}


/* .fliterAndSort {
    display: flex;
    justify-content: center;
} */

.sortList {
    margin-left: 10px;
}

.emails-list {
    padding: 0;
}

.emails-list-container {
    max-width: 100%;
    margin: 0 50px;
    padding: 5% 0;
    padding-top: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

#menuBtn {
    display: none;
}

.screen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
    z-index: 101;
}

.screen.openMenu {
    visibility: visible;
    opacity: 1;
}


/* .fa-envelope-open-text {
    color: #314568;
} */

@media (max-width:900px) {
    .emails-list-container {
        max-width: 100%;
        margin: 0 auto;
        padding: 5% 0;
        padding-top: 0;
        justify-content: center;
        align-items: center;
    }
    /* .asaid-nav-bar {
        width: 100%;
    } */
    .statusRead {
        margin-left: 5px;
    }
    .emails-list {
        padding: 0;
    }
    .email-nav {
        max-width: 40%;
    }
    .router-email {
        justify-content: center;
        align-content: center;
    }
    .compose {
        margin-left: 5px;
        font-size: 20px;
    }
    .saidLinks {
        width: 85%;
        height: 40px;
        color: #5f6368;
        padding-left: 20px;
    }
}

@media (max-width:600px) {
    .emails-list-container {
        max-width: 100%;
        margin: 0 5px;
        padding-top: 0;
        /* padding: 5% 0; */
    }
    .email-main-container {
        /* max-height: 85vh; */
        display: flex;
        flex-direction: column;
    }
    .saidLinks {
        width: 92%;
        border-radius: 20px;
        height: 45px;
        color: #5f6368;
        padding-left: 20px;
    }
    .email-nav {
        max-width: 100%;
    }
    .fa-bars {
        font-size: 30px;
        cursor: pointer;
        color: rgb(216, 195, 8);
    }
    .emailFull {
        max-width: 95%;
        margin: 0 auto;
        border: none;
    }
    .screen {
        display: block;
    }
    /* .asaid-nav-bar {
        flex-direction: row;
        /* justify-content: space-between; */
    /* align-items: flex-start; */
    /* align-content: center;
    height: 10vh; */
    /* padding: 50px 0; */
    /* margin-right: 0;
    font-size: 20px; */
    /* background-color: rgba(242, 245, 245, 0.8); */
    /* width: 80%; */
    /* margin-top: 35px; */
    .asaid-nav-bar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.9);
        border-left: 1px solid rgba(153, 153, 153, 0.5);
        transform: translate(100%, 0);
        transition: transform .6s;
        z-index: 102;
        width: 40%;
    }
    .openMenu+.asaid-nav-bar {
        transform: translate(0, 0);
    }
    .asaid-nav-bar li {
        border-bottom: 1px solid rgba(153, 153, 153, 0.5);
        width: 50%;
    }
    .asaid-nav-bar a {
        display: block;
        text-align: center;
        padding: 10px 0;
    }
    .asaid-nav-bar a:hover {
        background-color: rgba(204, 204, 204, 0.4);
    }
    #menuBtn {
        display: block;
    }
    .emails-list {
        padding: 0;
    }
    .listFilter {
        padding: 5px;
    }
    .email-nav {
        width: 100%;
        justify-content: flex-end;
    }
    .emails-list-container {
        font-size: 16px;
    }
}