.screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.438);
}

.keep-app {
    display: flex;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 1.4px;
    padding-top: 1%;
}

.keep {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.3rem;
    padding: 10px 20px;
    margin: 5px;
    width: 28%;
}

.keep-main {
    width: 83%;
    padding: 0% 5%;
}

.keep-labels {
    width: 17%;
    padding-left: 1%;
}

aside {
    background-color: white;
}

.keep-label {
    font-size: 1.3rem;
}

.labels-header {
    display: flex;
    justify-content: space-between;
}

h3 {
    margin: 0px;
}

.keeps-list {
    display: grid;
    /* grid-template-columns: ; */
}

.CRUDIcon {
    /* float: right; */
}

.adding-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    z-index: 1;
    bottom: 5vh;
    right: 5vh;
}

.add-keep-btn {
    border: 2px solid black;
    border-radius: 100%;
    background-color: blue;
    color: white;
}

.adding-btn-txt {
    margin: auto auto;
    text-align: right;
}

.large-btn {
    width: 7vh;
    height: 7vh;
}

.small-btn {
    width: 5vh;
    height: 5vh;
    /* padding-left: 30px; */
}

.add-txt-keep-btn {
    position: relative;
    /* bottom: 26vh;
    right: 6vh; */
    border: 2px solid black;
    border-radius: 100%;
    width: 5vh;
    height: 5vh;
    background-color: blue;
    color: white;
}

.keep-edit {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
}

img {
    width: 155px;
}

audio {
    width: 156px;
    height: 30px;
}

video {
    width: 156px;
    height: 100px;
}