.screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.438);
}

.keep-app {
    display: flex;
}

.keep {
    border-radius: 10px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.3rem;
    padding: 10px 20px;
    margin: 10px;
}

aside {
    background-color: white;
}

.labels-header {
    display: flex;
    justify-content: space-between;
}

h3 {
    margin: 0px;
}

.keeps-list {
    display: grid;
}

.CRUDIcon {
    /* float: right; */
}

.adding-btns {
    position: fixed;
    z-index: 1;
    bottom: 5vh;
    right: 5vh;
}

.add-keep-btn {
    border: 2px solid black;
    border-radius: 100%;
    background-color: blue;
    color: white;
}

.large-btn {
    width: 7vh;
    height: 7vh;
}

.small-btn {
    width: 5vh;
    height: 5vh;
}

.add-txt-keep-btn {
    position: relative;
    /* bottom: 26vh;
    right: 6vh; */
    border: 2px solid black;
    border-radius: 100%;
    width: 5vh;
    height: 5vh;
    background-color: blue;
    color: white;
}