    @import "helpers.css";
    @import "keep.css";
    @font-face {
        font-family: 'Abril Fatface', cursive;
        src: url('../fonts/AbrilFatface-Regular.ttf')
    }
    
    body {
        margin: 0 auto;
    }
    
    .logo {
        margin-left: 20px;
        font-weight: bolder;
        /* font-family: 'Abril Fatface', cursive !important; */
        color: rgb(216, 195, 8)
    }
    
    img.d-block {
        height: 550px;
    }
    
    body {
        max-width: 100%;
    }
    
    .footer {
        background-color: green;
        height: 20px
    }
    
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #59719b;
        border-bottom: none;
        height: 12vh;
        border-bottom: 1px solid white;
    }
    
    .header nav {
        font-weight: bold;
        margin: 0;
        margin-right: 10px;
        color: white;
    }
    
    .header nav a:hover {
        color: rgb(216, 195, 8);
    }
    
    .header a {
        margin: 0;
        margin-left: 5px;
        font-size: 20px;
    }
    
    .header a:focus {
        color: rgb(216, 195, 8);
        border-bottom: 1px solid rgb(216, 195, 8);
    }
    
    .container-fluid {
        margin: 0 !important;
        padding: 100% !important;
    }
    
    .user-msg {
        background-color: rgb(216, 195, 8);
        padding: 5px;
    }
    
    @media (max-width:600px) {
        .header a {
            font-size: 18px;
        }
    }