@import "helpers.css";
@import "keep.css";
body {
    margin: 0 auto;
}

img.d-block {
    height: 550px;
}

body {
    max-width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(209, 209, 106);
    border-bottom: 2px black solid;
    height: 10%;
}

.container-fluid {
    margin: 0 !important;
    padding: 100% !important;
}